#body-content {
    background: $topbar-bg-color;
    @media screen and (min-width: $break-not-small) {
        height: 615px;
    }
    .map {
        position: relative;
        text-align: center;
        .map-body {
          width: 75%;
          margin: -53px auto -20px auto;
          text-align: center;
          z-index: -1;
            @media screen and (min-width: $break-not-small) {
              width: 50%;
              text-align: center;
              max-width: 650px;
              min-width: 550px;

              img {
                display: inline-block;
                vertical-align: top;
                max-width: 100%;
                height: 520px;
                margin-top: 75px;
                opacity: 0.8;
              }
            }
        }
        .map-title {
            margin-top: 30px;
            @media screen and (max-width: $break-small) {
                width: 70%;
            }
        }
        .all-title {
          z-index: 0;
          position: relative;
            @media screen and (min-width: $break-not-small) {
              width: 375px;
              position: absolute;
              z-index: 1;
              right: 59%;
              top: 150px;
            }
        }
        #runing-number {
            @media screen and (min-width: $break-not-small) {
              width: 570px;
              position: absolute;
              left: 52%;
              top: 200px;
              z-index: 1;
            }
        }
        h2 {
            font-size: 32px;
            margin-top: 0;
            color: #fff;
            font-family: 'AIA-head' !important;
            .big {
              font-size: 42px;
            }
            @media screen and (max-width: $break-small) {
                font-size: 24px;
                margin-top: 10px;
                .big {
                  font-size: 35px;
                }
            }
        }
        .leading-text {
            color: #fff;
            font-family: 'AIA-head' !important;
            line-height: 1;
            font-size: 32px;
            width: 95%;
            display: block;
            margin: auto;
            margin-top: 15px;

            .text-big {
                font-size: 45px;
            }

            width: 95%;
            @media screen and (min-width: $break-not-small) {
              width: 570px;
              position: absolute;
              z-index: 1;
              left: 52%;
              top: 300px;
              font-size: 36px;
                .text-big {
                    font-size: 48px;
                }
            }
        }
        .join-btn {
            display: block;
            width: 95%;
            margin: 20px auto;
            background: #fff;
            font-family: 'AIA-head' !important;
            font-size: 36px;
            height: 40px;
            line-height: 40px;
            color: $topbar-bg-color;
            @media screen and (min-width: $break-not-small) {
                width: 360px;
            }
        }
        .des-text {
            padding: 0 0 45px 0;
            line-height: 1.275;
            color: #fff;
            display: block;
            width: 90%;
            margin: 35px auto;
            font-size: 20px;
            font-family: 'AIA-body' !important;
            .text-big {
                font-size: 30px;
                font-family: 'AIA-body' !important;
                font-weight: bold;
            }
            @media screen and (min-width: $break-not-small) {
              margin: 0;
              position: absolute;
              width: 480px;
              right: 55%;
              top: 365px;
              font-size: 18px;
                .text-big {
                  font-size: 28px;
                }
            }
        }
    }
}
