#body-content {
  background: $topbar-bg-color;
  @media screen and (min-width: $break-not-small) {
    height: 1135px;
  }
  .map {
    position: relative;
    text-align: center;

    .map-body {
      width: 100%;
      text-align: center;
      @media screen and (min-width: $break-not-small) {
        position: absolute;
        width: 50%;
        left: 7%;
        top: 40px;
        text-align: right;
        height: 1040px;
        line-height: 1040px;
        max-width: 900px;
        min-width: 550px;
      }
    }
    .map-title {
      margin-top: 30px;
    }

    .all-title {
      @media screen and (min-width: $break-not-small) {
        width: 570px;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 135px;
      }
    }

    #runing-number {
      @media screen and (min-width: $break-not-small) {
        width: 570px;
        position: absolute;
        left: 50%;
        top: 496px;
        z-index: 1;
      }
    }

    h2 {
      font-size: 48px;
      margin-top: 15px;
      color: #fff;
      font-family: 'AIA-head' !important;
    }

    .leading-text {
      font-size: 65px;
      margin-top: 15px;
      color: #fff;
      font-family: 'AIA-head' !important;
      line-height: 1;
      .text-big {
        font-size: 90px;
      }

      @media screen and (min-width: $break-not-small) {
        width: 570px;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 635px;
        font-size: 36px;
        .text-big {
          font-size: 48px;
        }
      }
    }

    .join-btn {
      display: block;
      width: 95%;
      margin: 20px auto;
      height: 80px;
      line-height: 80px;
      background: #fff;
      font-family: 'AIA-head' !important;
      font-size: 72px;
      color: $topbar-bg-color;

      @media screen and (min-width: $break-not-small) {
        font-size: 36px;
        height: 40px;
        line-height: 40px;
        width: 360px;
      }
    }

    .des-text {
      padding: 60px 0;
      line-height: 1.275;
      color: #fff;
      display: block;
      width: 95%;
      margin: 20px auto;
      font-size: 50px;
      font-family: 'AIA-body' !important;
      .text-big {
        font-size: 60px;
        font-family: 'AIA-body' !important;
        font-weight: bold;
      }
      @media screen and (min-width: $break-not-small) {
        padding: 0;
        margin: 0;
        text-align: left;
        position: absolute;
        width: 660px;
        left: 47%;
        top: 875px;
        font-size: 24px;
        .text-big {
          font-size: 36px;
        }
      }
    }
  }
}
