#footer {
    background: #302f2c;
    div {
        padding: 20px;
        div {
            margin: 0 0 10px;
            text-align: center;
            img {
                width: 32px;
                height: auto;
            }
        }
        p {
            color: #b3b1a8;
            font-size: 16px;
            text-align: center;
        }
    }
}

#box__policy {
    background: #292825;
    div {
        padding: 20px;
        p {
            color: #b3b1a8;
            font-size: 16px;
            text-align: center;
            a {
                color: #b3b1a8;
                padding: 0 5px;
            }
        }
        p:first-child {
            margin-bottom: 20px;
        }
    }
}