#main-form {
  padding-top: 40px;
  h2 {
    font-family: 'AIA-head' !important;
    color: $topbar-bg-color;
    font-size: 60px;
    text-align: center;

    @media screen and (max-width: $break-small) {
      font-size: 72px;
    }
  }

  p {
    font-family: 'AIA-body' !important;
    color: $topbar-bg-color;
    line-height: 1.275;
    font-size: 24px;
    width: 580px;
    text-align: center;
    margin: auto;
    @media screen and (max-width: $break-small) {
      font-size: 40px;
      width: 70%;
    }
  }
}
