#main-form {
  padding-top: 40px;
  max-width: 1100px;
  margin: auto;

  @media screen and (max-width: $break-small) {
    width: 95%;
    padding: 0;
  }

  h2 {
    font-family: 'AIA-head' !important;
    color: $topbar-bg-color;
    font-size: 60px;
    text-align: center;
    line-height: 1.2;

    @media screen and (max-width: $break-small) {
      font-size: 36px;

    }
  }

  h3 {
    font-family: 'AIA-head' !important;
    color: $topbar-bg-color;
    font-size: 48px;
    text-align: center;
    line-height: 1;

    @media screen and (max-width: $break-small) {
      font-size: 36px;
    }
  }

  p {
    font-family: 'AIA-body' !important;
    color: $topbar-bg-color;
    line-height: 1.275;
    font-size: 24px;
    width: 580px;
    text-align: center;
    margin: auto;
    @media screen and (max-width: $break-small) {
      font-size: 20px;
      width: 80%;
    }
  }

  .form-container {
    margin-top: 60px;
  }

  label {
    font-family: 'AIA-head' !important;
    color: $topbar-bg-color;
    font-size: 24px;
    line-height: 1;
    @media screen and (max-width: $break-small) {
      font-size: 20px;
    }
  }

  input {
    margin-bottom: 10px;
  }

  #register-form, #add-reason-form {
    form {
      margin-top: 40px;


      @media screen and (max-width: $break-small) {
        margin: 0px;
      }
    }

    input.check {
      margin-bottom: 0;
    }

    .term {
      color: #000;
      font-family: 'AIA-body' !important;
      font-size: 18px;
      display: inline;
    }

    .button-line {
      margin-top: 12px;
      background: $topbar-bg-color;
      color: #fff;
      max-width: 100%;

      &.gray {
        margin-bottom: 0px;
        color: #555;
        background-color: #e1e1e1;
        border-color: #e1e1e1;
      }
    }

    #thank {
      max-width: 610px;
      margin: auto;

      h2 {
        padding: 90px 30px 50px 30px;
        color: #d30f3e;
      }

      .button-line.light {
        color: #d30f3e;
        background: #fff;
        border-color: #d30f3e;
        @media screen and (max-width: $break-small) {
          margin-bottom: 15px;
        }  
      }
    }

  }

  #add-reason-form {
    padding-top: 60px;
  }

  .red-line {
    height: 100%;
    width: 1px;
    margin: auto;
    background: $topbar-bg-color;
    position: relative;

    @media screen and (max-width: $break-small) {
      height: 1px;
      width: 90%;
      margin: 20px auto 40px auto;
    }

  }

  .or {
    background: #fff;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    line-height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    color: $topbar-bg-color;
    font-family: 'AIA-body' !important;
    font-size: 28px;
    font-weight: bold;

    @media screen and (max-width: $break-small) {
      font-size: 20px;
      height: 30px;
      width: 40px;
      line-height: 30px;
      margin-left: -20px;
      margin-top: -15px;
    }
  }

  .note {
    font-family: 'AIA-body' !important;
    color: #909090;
    text-align: left;
    font-size: 14px;
    @media screen and (max-width: $break-small) {
      text-align: center;
      width: 50%;
      margin: auto;
    }
  }
}
