#runing-number {
  span {
    margin: 3px;
    font-size: 70px;
    color: #fff;
    font-family: 'AIA-head' !important;
    background: #88092d;
    width: 45px;
    height: 72px;
    line-height: 65px;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;

    @media screen and (min-width: $break-not-small) {
      width: 65px;
      height: 95px;
      font-size: 107px;
      line-height: 85px;
      margin: 5px;
    }
  }
}
