@import "font";
@import "color";


#app {
  @import "table";
  @import "topbar";
  @import "banner";
  @import "body-content";
  @import "running-number";
  @import "loading";
  @import "main-form";
  @import "reward";
  @import "video";
  @import "whatsyourwhy";
  @import "live-wall";
  @import "footer";
  @import "add-reason-form";

  .button-line {
    border: 1px solid $topbar-bg-color;
    background: #fff;
    display: block;
    max-width: 360px;
    width: 100%;
    margin: 30px auto;
    height: 50px;
    line-height: 50px;
    background: #fff;
    font-family: 'AIA-head' !important;
    font-size: 28px;
    text-align: center;
    color: $topbar-bg-color;

    @media screen and (max-width: $break-small) {
      font-size: 24px;
      height: 38px;
      line-height: 38px;
      width: 100%;
      max-width: 100%;
    }
  }

  .button-facebook, .button-google  {
    display: block;
    width: 1000px;
    margin: 10px auto 20px auto;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    color: #fff;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 12px;
    line-height: 1.2;
    text-align: start;
    padding-left: 48px;
    min-width: 135px;
    display: table-cell;
    vertical-align: middle;

    @media screen and (max-width: $break-small) {
      height: 35px;
    }
  }

  .button-facebook {
    background-color: #39589b;
    background-image: url('/img/ic_fb.png');
    background-position-x: 18px;
  }

  .button-google {
    background-color: #e14932;
    background-image: url('/img/ic_gg.png');
    margin: 0;
  }

  .content-wrapper {
    padding: 30px;
  }

  a, button {
    cursor: pointer;
    &:active {
      opacity: 0.8 !important;
    }
  }
}
